.knowledge{
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .articleBox-knowledge{
        width: 100%;
        height: 500px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .articleImg-knowledge{
            border: 1px solid rgb(74, 110, 226);
            width: 100%;
            height: 400px;
        }
        .articleTit-knowledge{
            width: 100%;
            height: 100px;
            background-color: #fff;
            border: 1px solid rgb(253, 253, 253);
            padding-left: 25px;
            line-height: 100px;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
        }
    }
}