.ordercoach{
    width: 100%;
    min-height: 100%;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .coachBox-ordercoach{
        width: 90%;
        height: 350px;
        padding-top: 40px;
        margin-bottom: 15px;
        .coachCard-ordercoach{
            width: 100%;
            height: 350px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 5px 7px 6px 6px rgba(0, 0, 0, 0.3);
            position: relative;
            .coachImg-ordercoach{
                position: absolute;
                left: 25px;
                top: -25px;
                width: 30%;
                height: 350px;
                border-radius: 12px;
            }
            .coachDetail-ordercoach{
                position: absolute;
                left: 250px;
                top: 20px;
                width: 60%;
                height: 290px;
                padding-top: 30px;
                .coachName-ordercoach{
                    width: 80%;
                    height: 20%;
                    font-size: 40px;
                    font-weight: 800;
                }
                .coachInfo-ordercoach{
                    width: 90%;
                    height: 60%;
                    color: gray;
                    font-size: 15;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
                .coachOrder-ordercoach{
                    width: 80%;
                    height: 10%;
                    color: gray;
                    font-size: 15;
                    margin-left: 70px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }
}