.allorder{
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    min-height: 100%;
    background-color: rgb(234, 234, 234);
    .letaoTab{
        .letaoTabItemActive{
            margin: auto 20px;
            color: rgb(255, 115, 0);
            border-bottom: 1px solid rgb(255, 115, 0)
        }
        .letaoTabItemDeactive{
            margin: auto 20px;
            color: black;
            border: none;
        }
    }
    .tabPageCourse{
        width: 100%;
        padding: 20px 10px;
        .courseCard-allorder{
            width: 100%;
            height: 280px;
            background-color: #fff;
            border-radius: 15px 0 0 15px;
            box-shadow: 5px 7px 6px 6px rgba(0, 0, 0, 0.3);
            position: relative;
            .courseImg-allorder{
                position: absolute;
                left: 25px;
                top: -25px;
                width: 30%;
                height: 280px;
                border-radius: 12px;
            }
            .courseDetail-allorder{
                position: absolute;
                left: 250px;
                top: 10px;
                width: 60%;
                height: 200px;
                padding-top: 30px;
                .courseName-allorder{
                    width: 80%;
                    height: 20%;
                    font-size: 40px;
                    font-weight: 800;
                }
                .courseInfo-allorder{
                    width: 90%;
                    height: 60%;
                    padding-top: 15px;
                    color: gray;
                    font-size: 15;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

            }
        }
    }
    .tabPageCoach{
        width: 100%;
        padding: 20px 10px;
        .coachCard-allorder{
            width: 100%;
            height: 350px;
            background-color: #fff;
            border-radius: 15px 0 0 15px;
            box-shadow: 5px 7px 6px 6px rgba(0, 0, 0, 0.3);
            position: relative;
            .coachImg-allorder{
                position: absolute;
                left: 25px;
                top: -25px;
                width: 30%;
                height: 350px;
                border-radius: 12px;
            }
            .coachDetail-allorder{
                position: absolute;
                left: 250px;
                top: 20px;
                width: 60%;
                height: 290px;
                padding-top: 30px;
                .coachName-allorder{
                    width: 80%;
                    height: 20%;
                    font-size: 40px;
                    font-weight: 800;
                }
                .coachInfo-allorder{
                    width: 90%;
                    height: 60%;
                    color: gray;
                    font-size: 15;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
            }
        }
    }
}