.user{
    font-size: 30px;
    font-weight: normal;
    // background-image: url('../../static/home/homeBg.jpg');
    // background-size: 100% 100%;
    background-color: #4d4d4d;
    padding-top: 30px;
    .userBox{
        width: 90%;
        height: 250px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        padding-left: 30px;
        .userAvatar{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-image: url('../../static/images/avatar.jpg');
            background-size: 100% 100%;
            margin-right: 15px;
        }
        .userDetail{
            width: 400px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
            .userName{
                width: 380px;
                color: #fff;
                font-size: 40px;
                font-weight: 800;
                margin-bottom: 15px;
            }
            .suerSign{
                width: 380px;
                font-size: 30px;
                color: #ffd000;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .orderToday{
        background-color: #fff;
        width: 90%;
        border-radius: 15px;
        margin: 15px auto;
        padding: 20px;
        // padding-left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        .orderTodayTit{
            width: 90%;
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            margin-bottom: 10px;
        }
        .orderTodayTitContent{
            width: 100%;
            max-height: 160px;
            font-size: 30px;
            font-weight: normal;
            color: #444444;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .infoBox{
        background-color: #fff;
        width: 90%;
        border-radius: 15px;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .infoNam{
            display: flex;
            align-items: center;
        }
        .expandBtn{
            font-weight: bold;
        }
    }
    .infoBigbox{
        background-color: #fff;
        width: 90%;
        border-radius: 15px;
        margin: 15px auto;
        padding: 20px;
        .infoBigboxItem{
            width: 100%;
            display: flex;
            justify-content: space-between;
            // border-bottom: 1px solid grey;
            .infoNam{
                display: flex;
                align-items: center;
            }
            .expandBtn{
                font-weight: bold;
            }
        }


    }
}