.knowledgeDetail{
    font-size: 30px;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .knowledgeDetailBox{
        width: 90%;
        padding-top: 50px;
    }
    .knowledgeDetailTit{
        margin-bottom: 15px ;
        font-size: 40px;
        font-weight: 800;
    }
    .knowledgeDetailAut{
        width: 100%;
        border-bottom: 1px solid grey;
        color:grey;
        font-size: 20px;
        display: flex;
    }
    .knowledgeDetailImg{
        margin: 15px auto;
    }
    .knowledgeDetailCon{
        width: 100%;
        margin: 15px auto;
    }
}